<!-- <app-home-header></app-home-header> -->

<section>
    <div class="container">
        <div class="row">
            <h1 class="text-center">Parece que você chegou cedo...</h1>
            <h1 class="text-center">mas ainda pode nos acompanhar nas redes sociais! owo</h1>
            <div>
                <a href="{{linkRedes.facebook}}" target="_blank" class="logoRedes facebook">
                    <img src="../../../../../../../assets/images/logos-redes/facebook-logo.png" alt="">
                </a>
                <a href="{{linkRedes.discord}}" target="_blank" class="logoRedes discord">
                    <img src="../../../../../../../assets/images/logos-redes/discord-logo.png" alt="">
                </a>
                <a href="{{linkRedes.telegram}}" target="_blank" class="logoRedes telegram">
                    <img src="../../../../../../../assets/images/logos-redes/telegram-logo.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
